#Auto-detect text files and set line endings
* text=auto
.gitattributes !filter !diff

#Binary files
*.png binary
*.jpg binary
*.jpeg binary

#Git LFS fiels
*.zip filter=lfs diff=lfs merge=lfs -text

#Remove tests from export
.*    export-ignore
tests export-ignore
*.js filter=updateAPIKey
